html,
body {
  padding: 0;
  margin: 0;
  color: var(--outerTextColor);
  background: var(--bgColor);
  min-height: 100vh;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: inherit;
}
