.main {
  background: var(--bgColor);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  color: var(--outerFontColor);
  margin: 50px 0px 10px 10px;
  /* 탈모아이폰 지원: 위쪽 마진 50px로 공간 만들기 */
  font-size: 30px;
  font-weight: bold;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--footerBGColor);
  padding: 15px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 2px solid var(--footerBorderColor);
  z-index: 1;
}

.footerIconWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerText {
  color: var(--footerIconColorEnabled);
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}
