.menuWrapper {
  margin: 0 5px 20px 5px;
  padding: 20px;
  border-radius: 20px;
  background: var(--fgColor);
  color: var(--innerTextColor);
  h2 {
    margin: 0px;
  }
  ul {
    margin-top: 10px;
    li {
      font-size: 18px;
      margin: 3px;
    }
  }
}
