.react-calendar {
  margin: 20px;
  padding: 10px;
  background: var(--fgColor);
  color: var(--innerTextColor);
  border-radius: 20px;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar__navigation {
  display: flex;
  margin: 10px;
}
.react-calendar__navigation button {
  background: none;
  color: var(--innerTextColor);
  font-size: 20px;
  font-weight: bold;
}
.react-calendar__navigation button[disabled] {
  background: none;
}

.react-calendar__viewContainer {
  margin: 10px;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
}
.react-calendar__month-view__weekdays__weekday {
  abbr {
    text-decoration: none;
  }
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 10px;
  background: none;
  color: var(--innerTextColor);
  border-radius: 10px;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--secondary);
}
.react-calendar__tile--now {
  background: var(--secondary);
}
.react-calendar__tile--active {
  background: var(--primary);
}
