[data-theme="light"] {
  --bgColor: #f3f3f3;
  --fgColor: #fff;
  --outerTextColor: #000;
  --innerTextColor: #000;
}

[data-theme="dark"] {
  --bgColor: #111;
  --fgColor: #333;
  --outerTextColor: #fff;
  --innerTextColor: #fff;
}

[data-theme="classic"] {
  --bgColor: #eee;
  --fgColor: #333;
  --outerTextColor: #000;
  --innerTextColor: #fff;
}
